<!DOCTYPE html>
<html>
<head>
    <title>PhoneBook</title>
</head>

<body>
    <h1>Phone Book</h1>
    <form id="contact-form">
        <label for="name">Name: </label>
        <input type="text" id="name"  name="name" required>

        <label for="phoneNumbers">Phone Numbers: </label>
        <input type="text" id="phoneNumbers"  name="phoneNumbers" required>

        <label for="emails">Emails: </label>
        <input type="text" id="emails"  name="emails" required>

        <label for="dateOfBirth">Date of Birth : </label>
        <input type="date" id="dateOfBirth" name="dateOfBirth"   required>


        <button type="submit">Add Contacts</button>
        
    </form>
    <div id="contacts-list">
    <!--  contact will display here--->
    </div>

    <!-- for search part code -->


    <script src="static/scripts.js"></script>
</body>
</html>